body{
background:#0A192F;
color:white;
}

.navbar{
background:#08111F;
}

.hero{
padding:120px 0;
}

.btn-info{
background:#64FFDA;
border:none;
font-weight:bold;
}

.card{
background:white;
color:black;
border-radius:20px;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}